.about {
    background-color: #EAF2FD;
    margin: 1.5% 0;
}

.about__container {
    display: flex;
    width: 80%;
    height: 300px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    flex-direction: column;
    justify-content: center;
}

.about__title {
    font-weight: bold;
}

.about__paragraph {
    width: 60%;
}

@media (min-width: 768px) {
    .about__container {
        width: 95%;
    }

    .about__title {
        display: flex;
        justify-content: center;
    }
.about__title{
    font-size: x-large;
}
    .about__paragraph {
        width: 100%;
        font-size: large;
    }

}

/*Mobile*/
@media (min-width: 425px) {

    /*Menu*/

    /*Titulo*/

    /*Sección sobre mi*/

    /*Skills*/

    /*Hobbies*/

    /*Formación Académica*/

    /*Experiencia Profesional*/

    /*Contacto*/

    /*Footer*/

}