.academic {
    background-color: #EAF2FD;
    width: 100%;
    height: 100%;
    margin: 10% 0;
}

.academic__title {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;

}

.academic__courses {
    display: flex;
    justify-content: center;
}

.academic__courses__list {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    text-align: center;
}

.academic__courses__item__img {
    padding: 60px 60px;
    border: 0;
    background-color: rgb(255, 255, 255);
    position: relative;

}

.academic__courses__item__img img {
    max-width: 200px;
    max-height: 180px;
    object-fit: cover;
}

.academic__courses__box:hover,
.academic__courses__box:focus {
    transform: translateY(-6px);
}

.academic__courses__item__img--max {
    display: flex;
    align-items: center;
    height: 75%;
}