.title {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.title__div {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.title__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.title__bio {
    font-size: xx-large;
    font-weight: bold;
    margin: 1rem;
}

.title__subsection {
    font-size: large;
    margin: 1rem;
}

.title__network {
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding: 16px;
}

/*-----------               Sección About     ---------*/

.about {
    background-color: #EAF2FD;
    margin: 1.5% 0;
}

.about__container {
    display: flex;
    width: 80%;
    height: 300px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    flex-direction: column;
    justify-content: center;
}

.about__title {
    font-weight: bold;
}

.about__paragraph {
    width: 60%;
}

/*---------              Sección Hobbies        ------------*/

section.hobbies {}

/* Experiencia Académica*/

section.academic {}

/* experiencia*/

section.experience {}