.experience {
    width: 100%;
    left: 100%;
}

.experience__section__title {
    display: flex;
    justify-content: center;
}

.experience__box {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.experience__title {
    font-weight: bold;
}

.experience__text {
    font-size: large;
}

.experience__img {
    margin: 2em;
    width: 50%;
    height: 50%;
}

.btn {
    padding: 15px 40px;
    border-radius: 0;
    margin: 0.3em;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.experiencia__botao--repo {
    background-color: #fff;
    color: #2128e7;
    border: #2128e7 1px solid;
}

.experience__botao--demo {
    background-color: #2128e7;
    color: #fff;
}

.experiencia__botao--repo:hover{
    background-color: #fff;
    color: #2128e7;
    border: #2128e7 1px solid;
}

.experience__botao--demo:hover {
    background-color: #2128e7;
    color: #fff;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .8s;
}

.experiencia__botao--repo::after {
    background-color: #9675e9;
}

.experience__botao--demo::after {
    background-color: #f08c8c;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}