.experience {
    width: 100%;
    left: 100%;
}

.experience__section__title {
    display: flex;
    justify-content: center;
}

.experience__box{
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    justify-content: center;
    align-items: center;
}

.experience__title{
    font-weight: bold;
}

.experience__text{
    font-size: large;
}