.hobbies {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 4em;
}

.hobbies__line {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 16px;
    display: flex;
    flex-wrap: wrap;
}

.hobbies__box {
    height: 118px;
    border: 0;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: flex-end;
    margin-top: 32px;
}

.hobbies__title {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    height: 2em;
}

.hobbies__img {
    width: 70px;
    height: 70px;
    background-image: none;
    margin: 0 auto 0 0;
    padding: 14px;
}

.hobbies__box:hover,
.hobbies__box:focus {
    transform: translateY(-6px);
}


@media (max-width: 768px) {

    .hobbies__title {
        height: 1.5rem;
        font-size: x-large;
    }

}

@media (max-width: 425px) {
    
    .hobbies__box{
        width: 150px;
    }

}