.hobbies {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 5em;
}

.hobbies__line {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.hobbies__box {
    padding: 30px 30px;
    border: 0;
    background-color: rgb(255, 255, 255);
    position: relative;
    text-align: justify;
    margin: 1em;
}

.hobbies__title {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    height: 2em;
}

.hobbies__img {
    width: 70px;
    height: 70px;
    background-image: none;
    margin: 0 auto 0 0;
    padding: 14px;
}

.hobbies__box:hover,
.hobbies__box:focus {
    transform: translateY(-6px);
}