.skills {
    width: 80%;
    max-width: 1200px;
    margin: 3rem auto;
}

.skills__title {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    height: 2em;
}

.skills__line {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 16px;
    display: flex;
    flex-wrap: wrap;
}

.skills__box {
    height: 118px;
    border: 0;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: flex-end;
    margin-top: 32px;
}

.skills__img {
    width: 70px;
    height: 70px;
    background-image: none;
    margin: 0 auto 0 0;
    padding: 14px;
}

.skills__box:hover,
.skills__box:focus {
    transform: translateY(-6px);
}

@media (max-width: 768px) {

    .skills__title {
        font-size: x-large;
    }

}

/*Mobile*/
@media (max-width: 425px) {
    .skills__box{
        width: 150px;
    }
}