.skills {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

.skills__title {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    height: 2em;
}

.skills__line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.skills__box {
    padding: 30px 30px;
    border: 0;
    background-color: rgb(255, 255, 255);
    position: relative;
    text-align: justify;
    margin-right: 2em;
}

.skills__img {
    width: 70px;
    height: 70px;
    background-image: none;
    margin: 0 auto 0 0;
    padding: 14px;
}

.skills__box:hover,
.skills__box:focus {
    transform: translateY(-6px);
}
